<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
    <style>
        #examples {
            text-align: center;
            font-size: 50px;
        }
    </style>
</head>

<body>
    <div id="examples">
        <p id="sse"></p>
        <p id="ws"></p>
    </div>
    <script>
        const progressText = document.getElementById("sse");

        // SSE
        const src = new EventSource("/sse-example");
        src.onmessage = function (event) {
            const data = event.data;
            console.log(event);
            progressText.innerText = data;
        };
        src.addEventListener("custom_1", function (event) {
            const data = event.data;
            progressText.innerText = data;
        });
        src.addEventListener("custom_2", function (event) {
            const data = event.data;
            progressText.innerText = data;
        });

        // Websockets
        const ws = new WebSocket('ws://localhost:6969/ws'); 
        ws.addEventListener('open', (event) => { 
            ws.send('wazzaaaap?'); 
        });

        document.addEventListener('click', () => {
            const date = Date.now();
            ws.send(date);
        });

        ws.addEventListener('close', (event) => { 
            console.log('The connection has been closed'); 
        });
    </script>
</body>

</html>