<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Example</title>
	<style>
        #progress-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
	        font-size: 50px;
        }
	</style>
</head>
<body>
<div id="progress-container">
	<p id="progress">0</p>
</div>
<script>
    const progressText = document.getElementById("progress");

    const eventSource = new EventSource("/progress");
    eventSource.onmessage = function(event) {
        const data = JSON.parse(event.data);
        console.log(data)
        progressText.innerText = data;
    };
</script>
</body>
</html>
